<div class="p-3 mb-2  ">
  <h1>Protfolio</h1>
  
  <div class="container d-flex justify-content-around flex-wrap my-5 ">
    <div *ngFor="let skill of ProtfolioSkills">
    <div [ngClass]="{'card bg-secondary':skill.istrue ,'text-white':skill.istrue  }" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{skill.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
